
#tabsNavigation {
	width:600px;
	height:20px;
}

#tabsNavigation a.tabsBtn {
	float:left;
	display:block;
	margin:0px 2px;
	font-size:12px;	
	border:1px solid #589BBE;
	background-color:#E8E8E8;
	width:15px;	
	text-align:center;
}

#tabsNavigation a.active {
	color:#FFF;
	background-color:#589BBE;
	border:1px solid #589BBE;
}

div.tabsGroup {
	width:630px;
	padding:10px 0px;
	/*padding:15px;
	background: #f4efe4;
	border: 1px solid #d1c4a8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
}

